// about banner

  .aboutUs_banner {
    width: 100%;
    height: 355px;
    position: relative;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner_text {
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 355px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      &::before{
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
      }
    }
  }

  //sectionTitle Component

  .section_title{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-weight: 600;
      font-size: 30px;
    }

    .line{
      width: 38px;
      margin-top: 10px;
      height: 0px;
      border-bottom: 3px solid #B41D26;
    }
  }


  //OurStory

  // .ourStory{
  //   min-height: 365px;
  // }

  .story_content{
    text-align: justify;
    h1{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    }
    p{
      font-size: 14px;
      margin-bottom: 30px;
      word-spacing: 0.1px;
    }
  }

  //StoryImage
.image_center{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  .storyImage_container{
    width: 355px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .first_section{
      width: 110px;
      height: 327px;
      
      img{
        width: 100%;
        height: 100%;
      }
    }
    
    .second_section{
      width: 115px;
      height: 344px;

      
      img{
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }
    
    .third_section{
      width: 123px;
      height: 365px;

      img{
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }
  }
}


  //SiteDatachart
.chartbox_container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;

  .chart_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      0deg, rgba(11, 102, 187, 0.1) 0%,
    rgba(11, 102, 187, 0.0528158) 48.27%,
    rgba(11, 102, 187, 0.01) 100%
     );
    border-radius: 10px;


    .box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:nth-child(odd){
        border-right:1px solid #B41D26;
      }

      &:nth-child(even){
        border-right: 1px solid  #B41D26;
      }

      &:last-child{
        border: none;
      }
    }
  }
}

@media (max-width:768px) {

.chartbox_container{
  .chart_box{
    .box{
      padding: 20px 0;

      &:nth-child(odd){
        border: none;
      }

      &:nth-child(even){
        border: none;
      }

      &:last-child{
        border: none;
      }
    }
  }
}

}

//features
.holder{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
}

//featureContent

.feature_content{
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 33.33%;
  // background-color: black;
  margin-top: 50px;


.featureContent_container{
  width: 260px;
  
  .icon{
    width: 50px;
    height: 50px;
    color:#B41D26;
    background: rgba(180, 29, 38, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .title{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 30px;
      width: 38px;
      height: 0px;
      border-bottom: 2px solid #B41D26;
    }
  }
  .content{
    margin-top: 30px;
    font-size: 12px;
  }
}
}

@media (max-width:768px) {
  .holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }
  
}